<launch>

  <!-- setting param-->
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <!-- setting including-->
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find chasis_urdf)/urdf/field_coke.sdf"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <arg name="model" default="$(find xacro)/xacro --inorder '$(find chasis_urdf)/urdf/chasis_urdf.xacro'"/>
  <param name="robot_description" command="$(arg model)" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find chasis_urdf)/urdf/chasis_urdf.xacro -urdf -model chasis_urdf"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>